.card-div{
    min-width: 260px;
    min-height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 0;
}

.card-div img{
    width: 260px;
    height: 310px;
    position: absolute;
    z-index: 0;
}

.status-alive {
    width: 43%;
    height: 30px;
    font-size: 15px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 255, 0, 0.5);
}

.status-dead {
    width: 43%;
    height: 30px;
    font-size: 15px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(255, 0, 0, 0.5);
}

.personagem-bio{
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-div h1{
    height: 30px;
    margin: 5px;
    font-size: 20px;
}

.personagem-nascimento{
    margin-left: 5px;
}

.personagem-nascimento img{
    height: 10px;
    width: 10px;
}

.personagem-nascimento h4{
    height: 15px;
    margin: 0 0 5px 15px;
    font-size: 10px;
}

.ocupacao{
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 5px 5px;
    font-size: 10px;
}

